.Wdate{width:86px;height: 14px;border:none 0;padding:6px 7px;color:#999;background:url(../../../i/xindaiyuan/sec_btn.png) no-repeat right #fff;cursor:pointer;position:absolute;top:0px;left:0px;}

.WdateFmtErr{color:#999;}